<a href="https://colab.research.google.com/github/nabin-nath/major-project-2/blob/electricity-consumption/interpolate_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Major Project - II/1.csv')
df = df.replace(0, np.nan)

In [ ]:
df.head()

,CONS_NO,FLAG,01-01-2014,10-01-2014,11-01-2014,12-01-2014,13-01-2014,14-01-2014,15-01-2014,16-01-2014,...,28-09-2016,29-09-2016,03-09-2016,30-09-2016,04-09-2016,05-09-2016,06-09-2016,07-09-2016,08-09-2016,09-09-2016
0,0387DD8A07E07FDA6271170F86AD9151,1,7.943830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,4B75AC4F2D8434CFF62DB64D0BB43103,1,2.485145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B32AC8CC6D5D805AC053557AB05F5343,1,6.670106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
3,EDFC78B07BA2908B3395C4EB2304665E,1,2.900000,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
4,6BCFD78138BC72A9BA1BFB0B79382192,1,1.222930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.82,5.52,3.12,3.13,4.20,3.23,3.85,2.78,3.55,2.54

In [ ]:
df2 = pd.DataFrame(df.T)
df2.reset_index(inplace=True)
df3 = df2.iloc[2:, :]
df3['index'] = pd.to_datetime(df3['index'])
df3.head()

<ipython-input-18-d680bba4e9d8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['index'] = pd.to_datetime(df3['index'])

,index,0,1,2,3,4,5,6,7,8,...,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578
2,2014-01-01,7.94383,2.485145,6.670106,2.9,1.22293,0.11,0.91,1.969826,11.02,...,42.282147,9.14,17.15766,37.67,2.87,7.769758,0.52825,3.300106,27.39,4.96
3,2014-10-01,NaN,NaN,NaN,3.42,NaN,0.53,0.86,NaN,8.24,...,NaN,12.25,NaN,94.06,11.63,NaN,NaN,NaN,67.31,5.2
4,2014-11-01,NaN,NaN,NaN,3.81,NaN,0.45,1.1,NaN,7.94,...,NaN,18.86,NaN,38.05,5.04,NaN,NaN,NaN,42.03,4.77
5,2014-12-01,NaN,NaN,NaN,4.58,NaN,0.51,0.66,NaN,7.92,...,NaN,9.11,NaN,54.37,3.82,NaN,NaN,NaN,46.04,4.07
6,2014-01-13,NaN,NaN,NaN,3.56,NaN,1.32,5.82,NaN,8.31,...,NaN,18.34,NaN,29.08,9.8,NaN,NaN,NaN,61.21,3.75

In [ ]:
df3.set_index('index', inplace=True)
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578
index,,,,,,,,,,,,,,,,,,,,,
2014-01-01,7.94383,2.485145,6.670106,2.9,1.22293,0.11,0.91,1.969826,11.02,0.495493,...,42.282147,9.14,17.15766,37.67,2.87,7.769758,0.52825,3.300106,27.39,4.96
2014-10-01,NaN,NaN,NaN,3.42,NaN,0.53,0.86,NaN,8.24,NaN,...,NaN,12.25,NaN,94.06,11.63,NaN,NaN,NaN,67.31,5.2
2014-11-01,NaN,NaN,NaN,3.81,NaN,0.45,1.1,NaN,7.94,NaN,...,NaN,18.86,NaN,38.05,5.04,NaN,NaN,NaN,42.03,4.77
2014-12-01,NaN,NaN,NaN,4.58,NaN,0.51,0.66,NaN,7.92,NaN,...,NaN,9.11,NaN,54.37,3.82,NaN,NaN,NaN,46.04,4.07
2014-01-13,NaN,NaN,NaN,3.56,NaN,1.32,5.82,NaN,8.31,NaN,...,NaN,18.34,NaN,29.08,9.8,NaN,NaN,NaN,61.21,3.75

In [ ]:
temp = df3.astype('float64')

In [ ]:
temp.sort_index(ascending=True, inplace=True)

In [ ]:
temp.interpolate(method='pchip', inplace=True)

In [ ]:
temp.reset_index(inplace=True)

In [ ]:
temp.head()

,level_0,index,0,1,2,3,4,5,6,7,...,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578
0,0,2014-01-01,7.943830,2.485145,6.670106,2.90,1.222930,0.11,0.91,1.969826,...,42.282147,9.14,17.157660,37.67,2.87,7.769758,0.528250,3.300106,27.39,4.96
1,1,2014-01-02,7.725900,2.520377,12.918450,4.84,1.237857,1.60,5.61,1.969826,...,42.282151,2.76,32.506402,31.98,8.24,7.769760,0.536497,3.300104,6.95,5.21
2,2,2014-01-03,7.420276,2.555512,17.613951,7.28,1.252742,0.88,0.78,1.969826,...,42.282162,14.94,41.816294,53.51,5.24,7.769764,0.544700,3.300097,43.24,4.85
3,3,2014-01-04,7.060000,2.590551,20.978444,6.73,1.267587,0.16,0.75,1.969826,...,42.282182,11.09,46.597050,59.00,11.17,7.769771,0.552859,3.300085,128.55,3.21
4,4,2014-01-05,6.590000,2.625494,23.233763,5.39,1.282391,9.55,0.70,1.969827,...,42.282212,6.56,48.358381,49.74,9.19,7.769783,0.560972,3.300068,52.91,3.06

In [ ]:
temp = temp.astype('object')

In [ ]:
final_df = pd.concat([df2.iloc[:2, :], temp])
final_df.head()

,index,0,1,2,3,4,5,6,7,8,...,3570,3571,3572,3573,3574,3575,3576,3577,3578,level_0
0,CONS_NO,0387DD8A07E07FDA6271170F86AD9151,4B75AC4F2D8434CFF62DB64D0BB43103,B32AC8CC6D5D805AC053557AB05F5343,EDFC78B07BA2908B3395C4EB2304665E,6BCFD78138BC72A9BA1BFB0B79382192,34C1954AA3703C4F8BD8EAEA7C4B7B83,768309B0EB11FD436CEE5ABFB84F4C0C,D0A186208CE83FBCCF730857C9A75B6F,516954F5FF177CE314656D727FCC66A5,...,051E90FD022D35A18959645887A4452D,41715691C8776A821E7656C05BC7326B,B7C5E0F9B8C258C21E4B925E67779313,B4998F95CB5A8A53C79C999C7179D00C,3ECE4EDBB9D1872BEF3059C20EC22E1F,5147B8E84450B2B47551922B768FBBFD,1B128CCB5A2708EA3359D9844AFD5B60,375F96C23231CC72E2E6AE260F4EC772,6078E220C7B299015C731332E8E31AFA,NaN
1,FLAG,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,NaN
0,2014-01-01 00:00:00,7.94383,2.485145,6.670106,2.9,1.22293,0.11,0.91,1.969826,11.02,...,9.14,17.15766,37.67,2.87,7.769758,0.52825,3.300106,27.39,4.96,0
1,2014-01-02 00:00:00,7.7259,2.520377,12.91845,4.84,1.237857,1.6,5.61,1.969826,4.48,...,2.76,32.506402,31.98,8.24,7.76976,0.536497,3.300104,6.95,5.21,1
2,2014-01-03 00:00:00,7.420276,2.555512,17.613951,7.28,1.252742,0.88,0.78,1.969826,10.37,...,14.94,41.816294,53.51,5.24,7.769764,0.5447,3.300097,43.24,4.85,2

In [ ]:
final_df = final_df.T.fillna(0)
final_df.head()

,0,1,0,1,2,3,4,5,6,7,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
index,CONS_NO,FLAG,2014-01-01 00:00:00,2014-01-02 00:00:00,2014-01-03 00:00:00,2014-01-04 00:00:00,2014-01-05 00:00:00,2014-01-06 00:00:00,2014-01-07 00:00:00,2014-01-08 00:00:00,...,2016-12-01 00:00:00,2016-12-02 00:00:00,2016-12-03 00:00:00,2016-12-04 00:00:00,2016-12-05 00:00:00,2016-12-06 00:00:00,2016-12-07 00:00:00,2016-12-08 00:00:00,2016-12-09 00:00:00,2016-12-10 00:00:00
0,0387DD8A07E07FDA6271170F86AD9151,1,7.94383,7.7259,7.420276,7.06,6.59,9.76,22.26,27.85,...,6.69,12.17,11.99,7.61,5.84,7.78,22.43,4.98,5.26,7.97
1,4B75AC4F2D8434CFF62DB64D0BB43103,1,2.485145,2.520377,2.555512,2.590551,2.625494,2.660341,2.695091,2.729746,...,12.53,10.82,8.35,6.74,7.44,9.71,28.29,27.713704,23.67963,12.73
2,B32AC8CC6D5D805AC053557AB05F5343,1,6.670106,12.91845,17.613951,20.978444,23.233763,24.601744,25.30422,25.563028,...,30.66,17.38,30.62,9.69,12.13,11.97,18.47,7.69,19.04,13.43
3,EDFC78B07BA2908B3395C4EB2304665E,1,2.9,4.84,7.28,6.73,5.39,5.03,6.74,9.12,...,4.26,6.69,7.76,12.81,11.23,12.57,25.37,17.26,9.08,8.03

In [ ]:
final_df.to_csv("/content/drive/MyDrive/Major Project - II/1_interpolate_n.csv")